* {box-sizing: border-box;}


textarea{
  height: 100%;
  width: 100%;
}

body {
  background: #e6e6e6;
  font-family: 'Roboto Mono';
  position: relative;
}

button {
  font-family: 'Roboto Mono';
  display: inline-block;
  padding: 15px 25px;
  margin: 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #1520ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

h1{
  color: black;
}

h3{
  color: green;
}

h5{
  color: silver;
}






.wrapperExample1 {
  display: grid;
}
* {box-sizing: border-box;}

.wrapperExample1 {
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;
}

.wrapperExample1 > div {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: white;
  padding: 1em;
  color: #d9480f;
}

.nestedExample1 {
  border: 2px solid #ffec99;
  border-radius: 5px;
  background-color: #fff9db;
  padding: 1em;
}
















.wrapperExample11 {
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;

}

.wrapperExample11 > div {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;

}
.wrapperExample11 {
  display: flex;
  flex-wrap: wrap;

}
.wrapperExample11 > div {
  flex: 1 1 200px;
}
